@charset "utf-8";

.fullbox{ /* 겉박스 */
	width: 100%;
	position: relative;
}
.inbox{ /* 속박스 */
	position: relative;
	width: 1200px;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

/* TOP */
#TOP{
	height: 40px;
	background-color: #222831;
}
#topmenu{
	position: relative;
	width: 200px;
	float: right;
	top: 50%;
	transform: translateY(-50%);
}
#topmenu>li{
	width: 50%;
	text-align: right;
}
#topmenu>li>a{
	color: #ccc;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
}

/* GNB */
#GNB{
	height: 80px;
	background-color: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.161);
	z-index: 999;
}
#logo{
	position: relative;
	width: 238px;
	height: 100%;
	/*top: 50%;
	transform: translateY(-50%);*/
}
#logo>a{
	position: absolute;
	width: 100%;
	height: 100%;
}
#logo>a>img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#gnbbox{
	position: absolute;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 800px;
	font-size: 24px;
}
#gnbbox>li{
	position: relative;
	width: 25%;
	text-align: right;
}
#gnbbox>li>a{
	font-weight: 500;
}
#gnbbox>li:nth-child(1)>a::before{
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 7px;
	left: 83px;
	background-position:-81px -10px;
	display: none;
}
#gnbbox>li:nth-child(2)>a::before{
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 7px;
	left: 90px;
	background-position: -53px -11px;
	display: none;
}

#gnbbox>li:nth-child(3)>a::before{
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 5px;
	left: 65px;
	background-position: -110px -10px;
	display: none;
}
#gnbbox>li:nth-child(4)>a::before{
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 7px;
	left: 82px;
	background-position: -24px -12px;
	display: none;
}

/* SNB */
.SNB{
	position: fixed;
	right: 0;
	width: 90px;
	height: 70px;
	border: 1px solid #ccc;
	border-radius: 10%;
	background-color: #fff;
	z-index: 99;
}
.SNB>span{
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #999;
}
#recentView{
	top: 48%;
}
#recentView::after{
	content: "";
	display: block;
	position: absolute;
	width: 24px;
	height: 25px;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	background-position: -200px -11px;
}
#intView{
	top: 56%;
}
#intView::after{
	content: "";
	display: block;
	position: absolute;
	width: 24px;
	height: 25px;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	background-position: -227px -12px;
}

/* FOOTERMENU */
#FOOTERMENU{
	height: 50px;
	background-color: #222831;
	color: #999;
	font-size: 14px;
}
.fmBox{
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.fmBox>li{
	width: 20%;
	padding: 10px;
}
.fmBox>li>a{
	color: #ccc;
}

/* FOOTER */
#FOOTER{
	height: 120px;
	background-color: #222831;
	font-size: 14px;
	color: #999;
}
#FOOTER>.inbox>ul{
	position: relative;
	top: 50%;
	height: 70px;
	transform: translateY(-50%);
}
#FOOTER>.inbox>ul>li:first-child>img{
	height: 40px;
}

#gnbbox>li:nth-child(1)>a::before, #gnbbox>li:nth-child(2)>a::before,
#gnbbox>li:nth-child(3)>a::before, #gnbbox>li:nth-child(4)>a::before,
.arrow, #adSearch::after, #recentView::after, #intView::after,.bullet>li,.listSet,.listView,.cardView,.area-resetBtn,.ca-print,.ca-share,.ca-favor{
	background: url(../images/icon.png) no-repeat;
}